@inreference{{ "{" }}{{key}},
title = {{ "{" }}{{name}}{{ "}" }},
booktitle = {{ "{" }}EnArgus Wiki{{ "}" }},
publisher = {{ "{" }}Fraunhofer-Gesellschaft zur Förderung der angewandten Forschung e.V., OrbiTeam Software GmbH & Co.
KG, Forschungszentrum Jülich GmbH, Ruhr-Universität Bochum, Technische Universität Darmstadt, Universität Stuttgart,
ZEDO - Zentrum für Beratungssysteme in der Technik Dortmund e. V{{ "}" }},
url = {{ "{" }}https://www.enargus.de/wiki/?q={{name_urlified}}&oid={{oid}}{{ "}" }},
urldate = {{ "{" }}{{urldate}}{{ "}" }},
{{ "}" }}